
<html>
    <head>
        <title>User Sign Up</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
    <h1>Signup</h1>
        <form method="post" action="/validate">
            <table>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td>
                    
                        <input name="username" type="text" value="{{request.form['username']}}"></td>
                        <td>
                                {% if error %}
                                <p class = 'error'></p>
                                <span class="error">{{error}}</span>
                                {% endif %}
                          </td>
                    

                </tr>
                <tr>

                  <td><label for="password">Password</label></td>
                    <td>
                        <input name="password" type="password">
                        <td>
                        <span class="error">{{error1}}</span>
                 </td>
                </tr>
                <tr>
                    <td><label for="verify">Verify Password</label></td>
                    <td>
                        <input name="verify" type="password" />
                    
                        <span class="error">{{error2}}</span>
                    </td>
                  
                </tr>
                <tr>
                    <td><label for="email">Email (optional)</label></td>
                    <td>
                        <input name="email" value="{{request.form['email']}}">

                        <span class="error">{{error3}}</span>
                    </td>
                </tr>
            </table>
            <input type="submit"/>
        </form>
    </body>
</html>